*
!*/
!.gitignore
!.gitmodules
!readme

!.vimrc

!.zshenv

!zshrc.sh
!autojump.sh
!zsh-autosuggestions.sh
!zsh-completions.sh
!zsh-colored-man-pages.sh
!zsh-syntax-highlighting.sh

!makefile
!vimrc.sh
!p10k.sh
!font-hack.sh
!font-jbm.sh

.DS_Store