*
!*/
!.gitignore
!.gitmodules
!readme
!README.md

!.vimrc
!vimrc

!.zshenv
!.zshrc
!zshenv
!zshrc

!zshrc.sh
!autojump.sh
!zsh-autosuggestions.sh
!zsh-completions.sh
!zsh-colored-man-pages.sh
!zsh-syntax-highlighting.sh
!zsh-history-substring-search.sh

!makefile
!Makefile
!vimrc.sh
!p10k.sh
!font-hack.sh
!font-jbm.sh

.DS_Store
